.image-fit {
  position: relative;
  overflow: hidden;
}
.image-fit > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shell {
  max-width: 1396px;
  padding: 0 80px;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #666666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #333333;
  font-weight: 700;
}

h1 {
  font-size: 52px;
  line-height: 1.25;
}

h2 {
  font-size: 40px;
  line-height: 1.2;
}

h3 {
  font-size: 30px;
  line-height: 1.2;
}

h4 {
  font-size: 24px;
  line-height: 1.2;
}

h5 {
  font-size: 20px;
  line-height: 1.2;
}

h6 {
  font-size: 18px;
  line-height: 1.2;
}

/* ------------------------------------------------------------ *\
    Header
\* ------------------------------------------------------------ */
.header {
  padding: 30px 0 20px;
}
.header .header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  flex-basis: 835px;
  flex-grow: 0;
  flex-shrink: 1;
}
.header .header__menu {
  flex-basis: 430px;
  flex-grow: 0;
  flex-shrink: 1;
}
.header .header__widgets {
  flex-basis: 247px;
  flex-grow: 0;
  flex-shrink: 1;
}

/* ------------------------------------------------------------ *\
    Logo
\* ------------------------------------------------------------ */
.logo {
  text-decoration: none;
  display: block;
  width: 185px;
  aspect-ratio: 185/41;
}
.logo img {
  width: 100%;
  height: 100%;
}

/* ------------------------------------------------------------ *\
    Menu
\* ------------------------------------------------------------ */
.menu ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.menu a {
  text-decoration: none;
  color: #333333;
  font-weight: 500;
  transition: color 0.3s ease;
}

/* ------------------------------------------------------------ *\
    Widgets
\* ------------------------------------------------------------ */
.widgets ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.widgets li {
  flex-basis: 28px;
  flex-grow: 0;
  flex-shrink: 0;
}
.widgets li img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

/* ------------------------------------------------------------ *\
    Hero
\* ------------------------------------------------------------ */
.hero {
  position: relative;
  overflow: hidden;
  min-height: 717px;
  display: flex;
  align-items: flex-end;
  padding: 50px 0 117px;
}
.hero .hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.hero .hero__inner {
  position: relative;
  z-index: 2;
  width: 100%;
}
.hero .hero__shell {
  padding: 0 35px;
}
.hero .hero__content {
  max-width: 643px;
  width: 100%;
  margin-left: auto;
}

/* ------------------------------------------------------------ *\
    Card
\* ------------------------------------------------------------ */
.card {
  background-color: #FFF3E3;
  border-radius: 10px;
  padding: 62px 57px 37px 39px;
}
.card .card__subtitle {
  font-weight: 600;
  letter-spacing: 3px;
}
.card .card__subtitle + .card__title {
  margin-top: 6px;
}
.card .card__title {
  padding-right: 92px;
}
.card .card__title h1 {
  color: #B88E2F;
}
.card .card__title + .card__text {
  margin-top: 15px;
}
.card .card__text {
  color: #333333;
  line-height: 1.43;
  font-weight: 500;
  letter-spacing: 0.065em;
}
.card .card__text + .card__actions {
  margin-top: 52px;
}
.card .card__btn {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  background-color: #B88E2F;
  padding: 25px 30px;
  min-width: 222px;
  line-height: 1.4;
}

/* ------------------------------------------------------------ *\
    Section-categories
\* ------------------------------------------------------------ */
.section-categories {
  margin: 57px 0 64px;
}
.section-categories .section__entry {
  text-align: center;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 1.2;
}
.section-categories .section__entry + .section__list {
  margin-top: 62px;
}
.section-categories .section__items {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  column-gap: 20px;
  row-gap: 50px;
}

/* ------------------------------------------------------------ *\
    CArd-categorie
\* ------------------------------------------------------------ */
.card-categorie {
  text-decoration: none;
  display: block;
  text-align: center;
  color: #333333;
  font-weight: 700;
}
.card-categorie:hover img {
  transform: scale(1.1);
}
.card-categorie .card__img {
  width: 381px;
  aspect-ratio: 381/480;
  border-radius: 10px;
}
.card-categorie .card__img img {
  transition: transform 0.3s ease-in-out;
}
.card-categorie .card__img + .card__text {
  margin-top: 34px;
}
.card-categorie .card__text {
  font-size: 24px;
  font-weight: 600;
}

/* ------------------------------------------------------------ *\
    Section-products
\* ------------------------------------------------------------ */
.section-products {
  margin: 64px 0 67px;
}
.section-products .section__title {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.section-products .section__title + .section__items {
  margin-top: 32px;
}
.section-products .section__items {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.section-products .section__item {
  flex-basis: 285px;
  flex-grow: 0;
  flex-shrink: 0;
}
.section-products .section__actions {
  text-align: center;
}
.section-products .section__actions:not(:first-child) {
  margin-top: 32px;
}

/* ------------------------------------------------------------ *\
    Card-item
\* ------------------------------------------------------------ */
.card-item {
  display: block;
  position: relative;
  text-decoration: none;
  color: #3A3A3A;
  background-color: #F4F5F7;
}
.card-item:hover .card__pop-up {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}
.card-item .card__img {
  width: 100%;
  aspect-ratio: 285/301;
}
.card-item .card__img img {
  z-index: 1;
}
.card-item .card__img .card__label {
  position: absolute;
  top: 25px;
  right: 23px;
  width: 48px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #E97171;
  z-index: 2;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.5;
}
.card-item .card__img .card__label--cyan {
  background-color: #2EC1AC;
}
.card-item .card__content {
  padding: 16px 20px 30px 16px;
}
.card-item .card__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}
.card-item .card__title + .card__subtitle {
  margin-top: 9px;
}
.card-item .card__subtitle {
  color: #898989;
  line-height: 1.5;
}
.card-item .card__prices {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.card-item .card__prices:not(:only-child) {
  margin-top: 7px;
}
.card-item .card__old-price {
  text-decoration: line-through;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #B0B0B0;
}
.card-item .card__pop-up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 58, 58, 0.72);
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(30px);
  transition: opacity, visibility, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.card-item .card__btn {
  color: #B88E2F;
  background-color: #fff;
  text-align: center;
  min-width: 202px;
  padding: 12px 20px;
  line-height: 1.5;
  text-decoration: none;
  transition: background-color, color;
  transition-duration: 0.3s;
}
.card-item .card__btn:hover {
  background-color: #B88E2F;
  color: #fff;
}
.card-item .card__widgets {
  list-style-type: none;
  display: flex;
  gap: 20px;
  color: #fff;
}
.card-item .card__widgets a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  gap: 5px;
  position: relative;
}
.card-item .card__widgets a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in;
  z-index: 3;
}
.card-item .card__widgets a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
.card-item .card__widgets .card__widget-ico {
  width: 16px;
  height: 16px;
  display: inline-block;
}

/* ------------------------------------------------------------ *\
    Btn
\* ------------------------------------------------------------ */
.btn {
  text-decoration: none;
  display: inline-block;
  padding: 12px 20px;
  text-align: center;
  min-width: 245px;
  color: #B88E2F;
  background-color: #fff;
  border: 1px solid #B88E2F;
  line-height: 1.5;
  font-weight: 600;
  transition: color, background-color, border-color;
  transition-duration: 0.3s;
}
.btn:hover {
  color: #fff;
  background-color: #B88E2F;
  border-color: #B88E2F;
}
.btn.btn--gold {
  color: #fff;
  background-color: #B88E2F;
  border-color: #B88E2F;
}
.btn.btn--gold:hover {
  color: #B88E2F;
  background-color: #fff;
  border-color: #B88E2F;
}
.btn.btn--small {
  min-width: 176px;
}

/* ------------------------------------------------------------ *\
    Secetion-slider
\* ------------------------------------------------------------ */
.section-slider {
  background-color: #FCF8F3;
  padding: 44px 0;
  overflow: hidden;
}
.section-slider .section__inner {
  display: flex;
  gap: 41px;
}
.section-slider .section__main {
  position: relative;
  z-index: 4;
  flex-basis: 422px;
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 350px;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 28px 0;
}
.section-slider .section__entry {
  text-align: left;
  line-height: 1.5;
}
.section-slider .section__entry h2 + p {
  margin-top: 7px;
}
.section-slider .section__entry + .section__actions {
  margin-top: 23px;
}
.section-slider .section__media {
  flex-grow: 0;
  flex-shrink: 1;
}

/* ------------------------------------------------------------ *\
    Card-slider-gallery
\* ------------------------------------------------------------ */
.card-slider-gallery {
  position: relative;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.card-slider-gallery .card__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-slider-gallery .card__content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  transform: translateY(-25px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity, visibility, transform;
  transition-delay: 0.1s;
  transition-duration: 0.3s;
}
.card-slider-gallery .card__entry {
  background-color: rgba(255, 255, 255, 0.72);
  max-width: 217px;
  line-height: 1.5;
  width: 100%;
  padding: 32px 17px 32px 32px;
}
.card-slider-gallery .card__entry p + p:has(strong) {
  margin-top: 9px;
}
.card-slider-gallery .card__entry p strong {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 600;
}

/* ------------------------------------------------------------ *\
    Slider-gallery
\* ------------------------------------------------------------ */
.slider-gallery {
  max-width: 404px;
  width: 100%;
}
.slider-gallery.slider-gallery {
  overflow: visible;
}
.slider-gallery:after {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100vw;
  background-color: #FCF8F3;
  z-index: 3;
}
.slider-gallery .slider__slide {
  width: 100%;
  aspect-ratio: 404/582;
}
.slider-gallery .slider__slide .card-slider-gallery {
  max-width: 404px;
  width: 100%;
  aspect-ratio: 404/486;
  transition: aspect-ratio;
  transition-duration: 0.3s;
  transition-delay: 0.1s;
}
.slider-gallery .slider__slide.swiper-slide-active .card-slider-gallery {
  position: relative;
  aspect-ratio: 404/582;
}
.slider-gallery .slider__slide.swiper-slide-active .card-slider-gallery .card__content {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}
.slider-gallery .slider__pagination.slider__pagination {
  width: fit-content;
  display: flex;
  left: 107.7%;
  top: 86.4%;
  align-items: center;
  gap: 27px;
}
.slider-gallery .slider__pagination .swiper-pagination-bullet.swiper-pagination-bullet {
  background-color: #D8D8D8;
  opacity: 1;
  width: 11px;
  height: auto;
  aspect-ratio: 1;
  position: relative;
  margin: 0;
}
.slider-gallery .slider__pagination .swiper-pagination-bullet.swiper-pagination-bullet.swiper-pagination-bullet:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  border: 1px solid #B88E2F;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease;
}
.slider-gallery .slider__pagination .swiper-pagination-bullet.swiper-pagination-bullet.swiper-pagination-bullet:hover:before, .slider-gallery .slider__pagination .swiper-pagination-bullet.swiper-pagination-bullet.swiper-pagination-bullet-active:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  border: 1px solid #B88E2F;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease;
}
.slider-gallery .slider__pagination .swiper-pagination-bullet.swiper-pagination-bullet.swiper-pagination-bullet:hover, .slider-gallery .slider__pagination .swiper-pagination-bullet.swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active {
  background-color: #B88E2F;
}
.slider-gallery .slider__next {
  top: 49.5%;
  right: -22vw;
  width: 48px;
  aspect-ratio: 1;
  height: auto;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 9px -3px #000000;
  transition: opacity, visibility;
  transition-duration: 0.3s;
}
.slider-gallery .slider__next:after {
  content: "";
  position: absolute;
  width: 12px;
  aspect-ratio: 1;
  border-right: 2px solid #B88E2F;
  border-bottom: 2px solid #B88E2F;
  transform: translate(-50%, -50%) rotate(-45deg);
  top: 50%;
  left: 49%;
  transition: transform 0.3s ease;
}
.slider-gallery .slider__next:hover::after {
  transform: translate(-25%, -50%) rotate(-45deg);
}
.slider-gallery .slider__next.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.slider-gallery .slider__prev {
  top: 49.5%;
  right: 22px;
  width: 48px;
  aspect-ratio: 1;
  height: auto;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 9px -3px #000000;
  transition: opacity, visibility;
  transition-duration: 0.3s;
}
.slider-gallery .slider__prev:after {
  content: "";
  position: absolute;
  width: 12px;
  aspect-ratio: 1;
  border-right: 2px solid #B88E2F;
  border-bottom: 2px solid #B88E2F;
  transform: translate(-50%, -50%) rotate(135deg);
  top: 50%;
  left: 55%;
  transition: transform 0.3s ease;
}
.slider-gallery .slider__prev:hover::after {
  transform: translate(-75%, -50%) rotate(135deg);
}
.slider-gallery .slider__prev.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ------------------------------------------------------------ *\
    Btn-arrow
\* ------------------------------------------------------------ */
.btn-arrow {
  display: block;
  width: 48px;
  aspect-ratio: 1;
  text-decoration: none;
  background-color: #b88e2f;
  position: relative;
}
.btn-arrow:hover:before {
  transform: translate(-25%, -50%);
}
.btn-arrow:hover:after {
  transform: translate(25%, -50%) rotate(-45deg);
}
.btn-arrow:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 1px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
}
.btn-arrow:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -50%) rotate(-45deg);
  width: 8px;
  aspect-ratio: 1;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transition: transform 0.3s ease;
}

/* ------------------------------------------------------------ *\
    Section-grid
\* ------------------------------------------------------------ */
.section-grid {
  margin: 67px 0 50px;
  padding: 0 80px;
  position: relative;
  min-height: 780px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 50px;
  outline: 1px solid #000;
}
.section-grid .section__headers {
  text-align: center;
  position: relative;
  z-index: 3;
}
.section-grid .section__subhead {
  font-weight: 600;
  color: #616161;
  line-height: 1.5;
  font-size: 20px;
}
.section-grid .section__subhead + .section__head {
  margin-top: 8px;
}
.section-grid .section__head h2 {
  line-height: 1.2;
}
.section-grid .section__masonry-grid {
  position: absolute;
  bottom: 117px;
  max-width: 1880px;
  width: 100%;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  height: 80.379%;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(30, 24px);
  gap: 16px;
}
.section-grid .section__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.section-grid .section__img-1 {
  grid-column: 1/2;
  grid-row: 1/11;
}
.section-grid .section__img-2 {
  grid-column: 1/3;
  grid-row: 11/20;
}
.section-grid .section__img-3 {
  grid-column: 2/8;
  grid-row: 3/11;
}
.section-grid .section__img-4 {
  grid-column: 3/8;
  grid-row: 11/17;
}
.section-grid .section__img-5 {
  grid-column: 8/12;
  grid-row: 5/15;
}
.section-grid .section__img-6 {
  grid-column: 12/16;
  grid-row: 4/13;
}
.section-grid .section__img-7 {
  grid-column: 12/15;
  grid-row: 13/20;
}
.section-grid .section__img-8 {
  grid-column: 16/19;
  grid-row: 2/13;
}
.section-grid .section__img-9 {
  grid-column: 15/18;
  grid-row: 13/19;
}

/*# sourceMappingURL=style.css.map */
